/* RESET */
* {
    border: 0;
    margin: 0;
    padding: 0;
}
/* FIM RESET */

/* FONTES */
@font-face {
    font-family: 'inter';
    src: url(font/Inter-Light.ttf);
}

@font-face {
    font-family: 'antic';
    src: url(font/AnticDidone-Regular.ttf);
}

@font-face {
    font-family: 'darker-regular';
    src: url(font/DarkerGrotesque-Regular.ttf);
}

@font-face {
    font-family: 'darker';
    src: url(font/DarkerGrotesque-Light.ttf);
}

@font-face {
    font-family: 'darker-medium';
    src: url(font/DarkerGrotesque-Medium.ttf);
}

@font-face {
    font-family: 'lexend';
    src: url(font/LexendDeca-Light.ttf);
}
/* FIM FONTES */

/* NAVEGAÇÃO */
nav ul li a {
    transition: color 0.4s;
    position: relative;
    
}

nav li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #CDB4FF;

    position: absolute;
    left: 0;
    bottom: -3px;

    transition: width 0.3s;
}

nav ul li a:hover::after {
    width: 100%;
}

.main-nav {
    margin-top: 10px;
    max-width: 1170px;
    margin: auto;
}

.main-nav ul {
    text-align: right;
    margin: 0;
    padding: 60px 0;
}

.main-nav ul li {
    float: none;
    display: inline-block;
}

.main-nav ul li:nth-child(1) {
    float: left;
}


.main-nav ul li:nth-child(2) {
    float: left;
}

.main-nav ul li:nth-child(3) {
    float: left;
}

.main-nav ul li a {
    margin: 0 35px;
    font-family: 'antic';
    text-decoration: none;
    color: #000;
    font-size: 22px;
}

.logo {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    width: 100%;
}

.content {
    height: 800px;
    width: 935px;
    position: absolute;
    top: 72%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 20px;
    cursor: pointer;
}
/* FIM NAVEGAÇÃO */

/* BARRA */
.gran {
    height: 0px;
    top: 152px;
    border: 0.3px solid #000000;
    margin: 20px 110px;
}
/* FIM BARRA */

/* SETA */
.vetor-seta {
    width: 22.91px;
    height: 41.01px;
    margin-left: 140px;
    margin-top: 20px;
}
/* FIM SETA */

/* CADASTRO */
.img {
    display: flex;
    width: 600px;
    justify-items: ;
}

.tudo {
    display: flex;
}

.cadastro {
    margin-left: 110px;
    width: 55vw;
    text-align: center;
}

.titulo {
    margin-top: 80px;

    font-size: 30px;
    font-family: 'antic';
}

.subtitulo {
    margin-top: 10px;

    font-size: 20px;
    font-family: 'antic';
}
/* FIM CADASTRO */